
:root {
  --web-chat-btn-size: 50px;
  --web-chat-btn-offset: 40px;

  --web-chat-height: 600px;
  --web-chat-width: 400px;
  --web-chat-offset: 30px;

  --web-chat-title-height: 50px;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

body {
  height: 100%;
  margin: 0;
  /*background-image: url("https://raw.githubusercontent.com/peurocs4/PythonHomePage/master/Python%20Homepage.png");*/
  /*background-repeat: no-repeat;*/
  /*background-position-x: center;*/
  /*background-size: cover;*/
}

#pythonHompageImage {
  width: 100%;
  min-width: 1500px;
}

#pythonHomepageFrame {
  width: calc(100% - 4px);
  height: calc(100% - 2px);
  margin: 0;
}

#webchatBtnContainer {
  position: fixed;
  top: calc(100% - var(--web-chat-btn-size) - var(--web-chat-btn-offset));
  right: var(--web-chat-btn-offset);
  height: var(--web-chat-btn-size);
  width: var(--web-chat-btn-size);
  background-color: #3b67b0;
  border-radius: 50%;
  -webkit-animation: pulse 1.5s infinite;
  -moz-animation: pulse 1.5s infinite;
  -o-animation: pulse 1.5s infinite;
  animation: pulse 1.5s infinite;
}

#webchatBtnContainer:hover {
  -webkit-animation: step-start;
  -moz-animation: step-start;
  -o-animation: step-start;
  animation: step-start;
  box-shadow: 0 0 15px 10px #577cb0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #3b67b0;
  }
  50% {
    -webkit-box-shadow: 0 0 20px 5px #577cb0;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #3b67b0;
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #3b67b0;
  }
  50% {
    -moz-box-shadow: 0 0 20px 5px #577cb0;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 #3b67b0;
  }
}
@-o-keyframes pulse {
  0% {
    -o-box-shadow: 0 0 0 0 #3b67b0;
  }
  50% {
    -o-box-shadow: 0 0 20px 5px #577cb0;
  }
  100% {
    -o-box-shadow: 0 0 0 0 #3b67b0;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #3b67b0;
  }
  50% {
    box-shadow: 0 0 20px 5px #577cb0;
  }
  100% {
    box-shadow: 0 0 0 0 #3b67b0;
  }
}

#webchatBtn {
  height: var(--web-chat-btn-size);
  width: var(--web-chat-btn-size);
  border-radius: 50%;
}

#webchatContainer {
  position: fixed;
  top: calc(100% - var(--web-chat-height) - var(--web-chat-offset));
  right: var(--web-chat-offset);
  height: var(--web-chat-height);
  width: var(--web-chat-width);
  /*border: solid 3px  #3572a5;*/
  box-shadow: 0 0 10px 0 black;
}

#webchatHeader {
  height: var(--web-chat-title-height);
  background-color: #3572a5;
  line-height: var(--web-chat-title-height);
  font-size: 22px;
  text-align: center;
  color: white;
}

#webchatTitle {
  width: 90%;
}

#webchatCloseBtn {
  float: right;
  width: 10%;
  background-color: red;
  cursor: pointer;
  opacity: 80%;
}

#webchatCloseBtn:hover {
  opacity: 100%;
}

#webchat {
  height: calc(100% - var(--web-chat-title-height))
}
